<table class="table-auto w-full">
    <thead class="text-white bg-gray-800 text-lg hidden sm:table-row-group rounded-md">
        <tr class="rounded-md">
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Código</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Nome Produto</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Quantidade</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Valor Unitario</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Valor Item</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Valor Total Venda</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Forma Pagamento</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Vendedor</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Data</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Hora</th>
            <th class="border-x border-t border-gray-600 md:text-[0.8vw] 2xl:p-2 2xl:text-lg">Status</th>
        </tr>
    </thead>
    <tbody class="text-white font-semibold text-sm">
        {% for venda in vendas %}
            <tr class="sm:table-row odd:bg-flexy-100 even:bg-gray-700 sm:bg-transparent">
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Código: </span>{{ venda.codigo_venda }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Nome Produto: </span>{{ venda.nome_produto }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Quantidade: </span>{{ venda.quantidade_comprada }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Valor Unitario: </span>R$ {{ venda.valor_unitario }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Valor Item: </span>R$ {{ venda.valor_total_item }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Valor Total Venda: </span>R$ {{ venda.valor_total_venda }}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Forma Pagamento: </span>
                    <div class="flex space-x-2">
                        {% for metodo in venda.metodos_de_pagamento  %}
                            <div class="px-2 rounded-md border-2
                                {% if metodo == 'pix' %}
                                    bg-green-500 text-gray-900 border-green-400
                                {% elif metodo == 'cartao' %}
                                    bg-blue-500 text-gray-900 border-blue-400
                                {% elif metodo == 'dinheiro' %}
                                    bg-yellow-500 text-gray-900 border-yellow-400
                                {% elif metodo == 'desconto' %}
                                    bg-red-500 text-gray-900 border-red-400
                                {% endif %}">
                                {{ metodo|capfirst }} 
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Vendedor: </span>{{ venda.vendedor |capfirst}}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Data: </span>{{ venda.data}}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Hora: </span>{{ venda.hora}}</td>
                <td class="border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border"><span class="sm:hidden">Status: </span>
                    <div class="flex space-x-2">
                        <div class="px-2 rounded-md border-2
                            {% if venda.status == 'Finalizada' %}
                                bg-green-500 text-gray-900 border-green-400
                            {% elif venda.status == 'Troca Realizada' %}
                                bg-blue-500 text-white border-blue-400
                            {% elif venda.status == 'Cancelada' %}
                                bg-red-500 text-white border-red-400
                            {% endif %}">
                            {{ venda.status|capfirst }} 
                        </div>
                    </div>
                </td>
                <td
                
                    class="text-center border-gray-600 border-x md:p-[0.6vw] 2xl:p-2 block sm:table-cell md:text-[0.78vw] 2xl:text-sm text-sm border text-gray-800 font-semibold duration-200 hover:bg-yellow-600 bg-yellow-400 cursor-pointer edit-venda"
                    data-id="{{ venda.codigo_venda }}" data-url="">
                    <button><i class="bi bi-pencil-square"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="flex justify-center my-4">
    {% if vendas.has_previous %}
        <a href="?page={{ vendas.previous_page_number }}" class="mx-1 px-3 py-2 bg-flexy-green-400 hover:bg-flexy-green-300  hover:-translate-y-0.5 transition text-white rounded-md">Anterior</a>
    {% endif %}
    <span class="mx-1 px-3 py-2 bg-gray-200 text-black rounded-md">{{ vendas.number }}</span>
    {% if vendas.has_next %}
        <a href="?page={{ vendas.next_page_number }}" class="mx-1 px-3 py-2 bg-flexy-green-400 hover:bg-flexy-green-300  hover:-translate-y-0.5 transition text-white rounded-md">Próximo</a>
    {% endif %}
</div>